:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 1.5rem 7%;
}

body{
    background-color: #fcf7f7;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}


header{
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
    cursor: pointer;
}

header .logo span{
    color:var(--pink);
}

.home{
    padding: 1.5rem 7%;
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    
}

.home .content{
    width: 70%;
}

.home .content h3{
    font-size: 5rem;
    color:#333;
}

.home .content span{
    text-align: center;
    font-size: 2.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.8;
}

.home .content p{
    font-size: 2rem;
    color:rgb(123, 122, 122);
    padding: 1rem 0;
    line-height: 1.5;
}

.home input{
    width: 45rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}

.image img{
    width: 70rem;
    height: auto;
    
    align-items: center;
}